eg/Content/Content.dtd

<!ELEMENT PAGE (CONTENT_VAR|CONTENT_LOOP)*>
<!ATTLIST PAGE
	cache		(yes|default|no)   "no">
<!ELEMENT CONTENT_VAR ANY>
<!ATTLIST CONTENT_VAR
        NAME                    CDATA   #REQUIRED>
<!ELEMENT CONTENT_LOOP (CONTENT_ITEM+)>
<!ATTLIST CONTENT_LOOP
        NAME                    CDATA   #REQUIRED>
<!ELEMENT CONTENT_ITEM (CONTENT_VAR*)>
